<%= render "shared/header"%>

<div class="main">
  <div class="main_image">
    <img src="assets/antoine-dautry-_zsL306fDck-unsplash.jpg" alt="メイン画面" class="main_image_a">
    <span class="main_title">そろばんで<br>計算力を鍛えよう</span>
  </div>
  <div class="main_texts">
    <div class="calendar">
      <h1 class="main_heading_name">学習カレンダー<h1>
      <table class="calendar_table">
      <p class="date"><%= @today.strftime("< %Y年 %-m月 >") %></p>
        <tr class="week">
          <% t('date.abbr_day_names').each do |day_name| %>
            <td class="week">
              <%= day_name %>
            </td>
          <% end %>
        </tr>
        <% @calendar_data.each do |date| %>
          <% if date.wday == 0 %>
            <tr>
          <% end %>
          <td id=<%=date%> >
            <%= date.day %>
          </td>
          <% if date.wday == 6 %>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="texts_search">
      <h1 class="main_heading_name">学習内容の検索<h1>
      <div class="search">
      <%= search_form_for @p, url: texts_search_path do |f| %>
        <%= f.label :text_name_eq, '学習内容名' %>
        <%= f.collection_select :text_name_eq, @texts, :text_name, :text_name, include_blank: '指定なし' %>
        <%= f.submit '検索'%>
      <% end %>
      </div>
    </div>
    <div class="texts_index">
      <h1 class="main_heading_name">学習内容一覧<h1>
      <ul class="texts">
      <% @texts.each do |text| %>
        <li class="text">
          <div class="text_name"><%= text.text_name %></div>
          <%= image_tag text.image, alt: "画像", class: "text_image" %><br>
          <%= link_to "学習する", {controller: "texts", action: "study", name: text.link,id:0 } %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  フッター
</div>
