<%= render "shared/header"%>

<div class="main">
  <div class="main_image">
    <img src="assets/antoine-dautry-_zsL306fDck-unsplash.jpg" alt="メイン画面" class="main_image_a">
    <span class="main_title">そろばんで<br>計算力を鍛えよう</span>
  </div>
  <div class="main_texts">
    <h1 class="main_heading_name">学習内容一覧<h1>
    <ul class="texts">
      <li class="text">
        <div class="text_name">九九を覚えよう</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "times_table"} %>
      </li>
      <li class="text">
        <div class="text_name">そろばんの使い方</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "how_to_use"} %>
      </li>
      <li class="text">
        <div class="text_name">足し算</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "addition"} %>
      </li>
      <li class="text">
        <div class="text_name">掛け算</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "multiplication"} %>
      </li>
      <li class="text">
        <div class="text_name">割り算</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "division"} %>
      </li>
      <li class="text">
        <div class="text_name">練習問題【8級】</div>
        <img src="assets/Kids Studying from Home-pana.png" alt="画像" class="text_image"><br>
        <%= link_to "学習する", {controller: "texts", action: "show", name: "practice8"} %>
      </li>
    </ul>
  </div>
</div>

<div class="footer">
  フッター
</div>
